.rankContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
  font-weight: 400;
}

.rankContainer p {
  text-align: center;
}

.submits {
  margin-top: 50px;
}

.rank {
  margin-top: 0;
}
