.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navContainer p {
  color: coral;
  margin: 20px 100px 0 0;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 15px;
  height: 1.2em;
  text-align: center;
}
