/*  btn BG  :
    btn text:
*/

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ccffdd, #ff55ed);
  height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
